---
layout: basic.njk
---

<h1>Joe's Blog</h1>

<p><a href={{"/wasan/" | url}}>Wasan</a></p>

<div class="posts">
  {%- for post in collections.post | reverse -%}
    <div class="date">{{post.date | dateToWords}}</div> <div class="url"><a href={{post.url | url}}>{{ post.data.title }}</a></div>
  {%- endfor -%}
</div>