---
layout: basic.njk
---

<h2>Wasan</h2>
<a class="home-link" href={{"/" | url}}>Home</a>

<p><a href={{"/" | url}}>Back</a>&nbsp;&nbsp;&nbsp;<a href={{"/wasan/jodo" | url}}>Only Jōdo</a>&nbsp;&nbsp;&nbsp;<a href={{"/wasan/koso" | url}}>Only Kōso</a>&nbsp;&nbsp;&nbsp;<a href={{"/wasan/shozomatsu" | url}}>Only Shōzōmatsu</a></p>

<div class="posts">
  {%- for post in collections.post | onlywasan | reverse -%}
    <div class="date">{{post.date | dateToWords}}</div> <div class="url"><a href={{post.url | url}}>{{ post.data.title }}</a></div>
  {%- endfor -%}
</div>