<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ title }}" property="og:title" />
    {%- if page.excerpt -%}
    <meta content="{{ page.excerpt }}" property="og:description" />
    {%- else -%}
    <meta content="Buddhist Commentary and Stuff" property="og:description" />
    {%- endif -%}
    <meta content="https://www.joebentleyphysics.com/blog{{ page.url | url }}" property="og:url" />
    <meta content="https://www.joebentleyphysics.com/blog/images/amitabha.jpg" property="og:image" />
    <meta content="#bf14f1" data-react-helmet="true" name="theme-color" />
    <link rel="stylesheet" href={{ "/css/main.css" | url }}>
    <link rel="icon" type="image/x-icon" href={{"/images/favicon.ico" | url}}>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Open Diary</h1>
    {{ content | safe }}
  </body>
</html>