---
tags: post
layout: basic.njk
---

<a class="home-link" href={{"/" | url}}>Home</a>

<h1>{{ title }}</h1>

<p>{{ date | dateToWords }}</p>

<div>{{ content | safe }}</div>

<p><a href="mailto:joebentley10@gmail.com">Joe Bentley</a></p>
